#newProjectIconContainer {
    width: 60px;
    height: 60px;
    margin: 15px;
    margin-bottom: 0px;
    border-radius: 30px;
    overflow: hidden;
    border-color: #C6C6C6;
    border-style: dashed;
    border-width: 1px;
    stroke: #C6C6C6;
    stroke-width: 3px;
}

@keyframes newProjectAnimationDarken {
    from      {border-color: #C6C6C6;
            stroke: #C6C6C6}
    to      {border-color: grey;
            stroke: grey}
}

#newProjectIconContainer:hover {
    animation-name: newProjectAnimationDarken;
    animation-duration: 0.3s;
    border-color: grey;
    cursor: pointer;
    stroke: grey;
}

@@keyframes projectIndicatorEnter {
    from    {height: 0px}
    to      {height: 50px}
}

#projectIndicator {
    width: 50px;
    height: 50px;
    margin-left: -60px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: grey;
    animation-name: projectIndicatorEnter;
    animation-duration: 0.3s;
}

.newProjectPicture {
    width: 40px;
    margin-top: 7px;
    margin-left: 0px;
    height: auto;
}

@keyframes newProjectAnimationDarkenPlus {
    from      {stroke: #C6C6C6}
    to      {stroke: grey}
}
