#iconContainer {
    width: 60px;
    height: 60px;
    margin: 15px;
    margin-bottom: 0px;
    border-radius: 30px;
    overflow: hidden;
}

@keyframes iconAnimationOutward {
    0%      {border-radius: 30px;}
    10%      {border-radius: 24px;}
    20%      {border-radius: 20px;}
    30%      {border-radius: 14px;}
    40%      {border-radius: 18px;}
    50%      {border-radius: 23px;}
    60%      {border-radius: 20px;}
    70%      {border-radius: 19px;}
    80%      {border-radius: 21px;}
    90%      {border-radius: 20px;}
    100%      {border-radius: 20px;}

}

#iconContainer:hover {
    animation-name: iconAnimationOutward;
    animation-duration: 0.5s;
    border-radius: 20px;
    cursor: pointer;
}

@@keyframes projectIndicatorEnter {
    from    {height: 0px}
    to      {height: 50px}
}

#projectIndicator {
    width: 50px;
    height: 50px;
    margin-left: -60px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: grey;
    animation-name: projectIndicatorEnter;
    animation-duration: 4s;
}

.projectPicture {
    width: 100%;
    margin-right: 15px;
    height: auto;
}
