#addUserIconContainer {
    width: 40px;
    height: 40px;
    margin: 15px;
    margin-top: 12px;
    margin-bottom: 0px;
    border-radius: 30px;
    border-color: #C6C6C6;
    border-style: solid;
    border-width: 2px;
    stroke: #C6C6C6;
    stroke-width: 3px;
}

@keyframes newProjectAnimationDarken {
    from      {border-color: #C6C6C6;
            stroke: #C6C6C6}
    to      {border-color: grey;
            stroke: grey}
}

#addUserIconContainer:hover {
    animation-name: newProjectAnimationDarken;
    animation-duration: 0.3s;
    border-color: grey;
    cursor: pointer;
    stroke: grey;
    margin-top: 11px;
}

@keyframes projectIndicatorEnter {
    from    {margin-left: -70px}
    to      {margin-left: -60px}
}

#projectIndicator {
    width: 50px;
    height: 50px;
    margin-left: -60px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: grey;
    animation-name: projectIndicatorEnter;
    animation-duration: 0.3s;
}

.newProjectPicture {
    width: 40px;
    margin-top: 7px;
    margin-left: 0px;
    height: auto;
}

@keyframes newProjectAnimationDarkenPlus {
    from      {stroke: #C6C6C6}
    to      {stroke: grey}
}

/* .newProjectPlus:hover {
    stroke: grey;
    animation-name: newProjectAnimationDarkenPlus;
    animation-duration: 0.3s;
}



.newProjectPlus {

    stroke: #C6C6C6;
    stroke-width: 3px;
} */
