#announcementContainter {
    background-color: #ECEEEF;
    border: 0px;
    border: 0px solid grey;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    font-weight: lighter;
    border-radius: 6px;
    color: #4A4A4A;
    font-weight: lighter;
    margin: 14px;
    text-align: left;
    padding: 7px;
}
