#ProjectCollaboratorsBarContainter {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    width: 100%;
}

#logIconContainer {
    width: 40px;
    height: 40px;
    margin-left: 900px;
    margin-right: 14px;
    margin-top: 14px;
    overflow: hidden;
}

#logIconContainer:hover {
    cursor: pointer;
    margin-top: 11px;
    margin-bottom: 1px;
}

#ProjectCollaboratorsBarLine {

}
