#projectTitleContainer {
    width: 100%;
    height: 60px;
    margin: 0px;
    margin-bottom: 0px;

}

#projectTitle {
    color: white;
    left: 12px;
    margin: auto;
    top: 10px;
    position: absolute;
}

.projectDivider {
    margin-top: 10px;
}

#taskDashScrollableContent {
    margin-top: 0px;
    overflow: scroll;
}

#addTaskButton {
    background-color: whitesmoke;
    position: fixed;
    /* bottom: 10px;
    right: 10px; */
}
