

#projectTitle {
    color: white;
    left: 12px;
    margin: auto;
    top: 10px;
    position: absolute;
}

.projectDivider {
    margin-top: 10px;
}

#taskDashScrollableContent {
    margin-top: 28px;
    margin-left: 4px;
    overflow: scroll;
}

#addTaskButton {
    background-color: #F8F8F8;
    position: fixed;
    /* bottom: 10px;
    right: 10px; */
}
