#projectTitleContainer {
    width: 100%;
    height: 60px;
    margin: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0px;
    /* position: fixed; */
}

#projectTitle {
    color: white;
    left: 12px;
    margin: auto;
    top: 10px;
}

#projectDescription {
    color: white;
    left: 13px;
    position: absolute;
    top: 27px;
    font-weight: lighter;
}

#projectSettingsIcon {
     right: 10px;
     top: 13px;
     position:absolute;
     height: 30px;
}

 #projectSettingsIcon:hover {
     cursor: pointer;
}

.submitFinalButton {
    border-color: #4A4A4A;
    background-color: transparent;
    width: 130px;
    border-radius: 20px;
    color: #4A4A4A;
    margin-left: 15px;
}

.submitFinalButton:hover {
    margin-top: -1px;
}

.settingsPopupOverlay {
    background-color: transparent !important;
    /* background: rgba(186, 191, 190, 0.6) !important; */
}

.settingsPopupModal {
     position: absolute !important;
    top: 60px !important;
    right: 350px !important;
    border-radius: 5px;
    border: 1px solid grey;
}

.assignUserOverlay {
    /* background-color: lightgrey !important; */
    background: rgba(186, 191, 190, 0.6) !important;
}

.copyProjectModal {
    width: 500px;
    border-radius: 5px;
    border: 1px solid grey;
}
