.taskCommentDivider {

    padding: 0px;
    margin: 0px;
    margin-left: -10px;
    margin-top: -80px;
}

#taskCommentContents {

    display: flex;
    flex-direction: row;
    margin-left: -10px;
}

#taskCommentName {
    margin-bottom: 0px;
}

#taskCommentText {

    margin-top: 1px;
    font-weight: lighter;
    font-size: 10pt;
}

#taskUserIcon {
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    margin-top: -9px;
}

#taskNameAndComment {
    padding-left: 10px;
    width: 100%;
}

#commentUserIconContainer {
    width: 40px;
    height: 37px;
    margin-left: 12px;
    margin-top: 2px;
    border-radius: 30px;
    overflow: hidden;
}
