#task {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 10px;
    text-align: left;
}

#task:hover {
    cursor: pointer;
    animation-name: grow;
    animation-duration: 4s;
    background-color: white;
}

@@keyframes grow {
    from {height: 40px}
    to {height: 100px}
}

#task:click {
    animation-name: grow;
    animation-duration: 4s;
}

#taskTitle {

}

#taskInfo {
    margin-left: 12px;
    margin-right: 12px;
}

#taskStats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12px;
    margin-right: 12px;
}
