#task {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    border-radius: 10px;
    text-align: left;
}

#task:hover {
    cursor: pointer;
    animation-name: grow;
    animation-duration: 4s;
    background-color: white;
}

@@keyframes grow {
    from {height: 40px}
    to {height: 100px}
}

#task:click {
    animation-name: grow;
    animation-duration: 4s;
}

#taskInfo {
    margin-left: 12px;
    margin-right: 12px;
}

#taskStats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12px;
    margin-right: 12px;
}

#taskCheckAndTitle {
    display: flex;
    flex-direction: row;
}

.checkBox {
    stroke: #4A4A4A;
    stroke-width: 2px;
    fill: transparent;
    margin-right: 0px;
    padding-right: 0px;
}

.checkBox:hover {
    fill: lightgrey;
}

#taskTitle {
    padding-left: 0px;
    margin-left: -10px;
}

#taskDescription {
    font-size: 13pt;
    margin-top: 35px;
    font-weight: 300;
}

#taskUsers {
    display: flex;
    flex-direction: row;
    margin-left: -10px;
    margin-top: -15px;
}
