#userIconContainer {
    width: 40px;
    height: 40px;
    margin-left: 14px;
    margin-top: 14px;
    border-radius: 30px;
    overflow: hidden;
}

#userIconContainer:hover {
    cursor: pointer;
}

.projectPicture {
    margin-right: 15px;
    height: 100%;
}
