.createProjectInput {
    margin: 8px;
    height: 30px;
    font-family: sans-serif;
}

.createProjectButton {
    cursor: pointer;
    margin-top: 8px;
}

.errorBox {
    margin: 12px;
    color: rgb(218, 64, 64);
}