.login-grid {
    background: linear-gradient(to bottom right, white, whitesmoke);
    width: 100%;
    height: 100%;
}

.amora {
    text-shadow: 2px 4px #ff00;
    margin: 0px;
    width: 240px;
    height: auto;
}

.subtitle {
    font-size: 16px;
    color: #4A4A4A;
    text-shadow: 1px 4px #ff00;
    margin: 8px;
    font-weight: bolder;
}

img {
  padding: 0px;
}

.signin-button {
    border-radius: 4px;
    background: rgb(233, 233, 233);
    color: rgb(85, 85, 85);
    font-size: 14px;
    font-weight: 100;
    padding: 8px;
    margin: 8px;
}

.login-row {
  margin-top: 20%;
}
