.login-grid {
    background: linear-gradient(to bottom right, white, whitesmoke);
    width: 100%;
    height: 100%;
}

.amora {
    text-shadow: 2px 4px #ff00;
    margin: 16px;
    width: 27%;
    height: 27%;
}

.subtitle {
    font-size: 16px;
    font-family: sans-serif;
    color: rgba(236, 169, 45, 0.89);
    text-shadow: 1px 4px #ff00;
    margin: 8px;
    font-weight: 100;
}

.signin-button {
    border-radius: 4px;
    background: rgb(233, 233, 233);
    color: rgb(85, 85, 85);
    font-size: 14px;
    font-weight: 100;
    padding: 8px;
    font-family: sans-serif;
    margin: 8px;
}